.fact {
  margin: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 50px;
}

.factcontainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.back-button {
  display: flex;
  align-items: start;
  justify-content: start;
  text-align: center;
  margin: 1%;
  padding: 10px;
  border: 1px solid var(--lama-white);
  background-color: var(--attractions-back-button);
  gap: 60px;
}

.regenerate-button-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.regenerate-button {
  text-align: center;
  margin: 5%;
  padding: 10px;
  border: 1px solid var(--lama-white);
  background-color: var(--attractions-back-button);
  gap: 60px;
}
