.fact {
  margin: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 50px;
}

.back-button {
  display: flex;
  align-items: start;
  justify-content: start;
  text-align: center;
  margin: 1%;
  padding: 1%;
  border: 1px solid var(--lama-white);
  background-color: var(--attractions-back-button);
  gap: 60px;
}
