.attraction {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 1%;
  padding: 1%;
  width: 230px;
  border: 1px solid var(--lama-white);
  background-color: var(--attractions-list-button);
  flex-direction: column;
}

.rating {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 12px;
}

:hover.attraction {
  background-color: var(--attractions-list-button-hover);
}

.attraction-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.attraction-list-title {
  text-align: center;
  font-size: 1.5rem;
  margin-bottom: 20px;
}
