.title {
  margin-top: 80px;
}

.lama {
  position: absolute;
  top: 10%;
}

.lama svg {
  position: absolute;
  fill: var(--lama-background);
}

.wholeLama {
  width: 200px;
}

.eyeLeft svg {
  margin-top: 70px;
  margin-left: 70px;
}

.eyeRight svg {
  margin-top: 70px;
  margin-left: 105px;
}

.start {
  cursor: pointer;
}

.inactive {
  color: var(--inactive);
}

.startContainer {
  margin-top: 70px;
  margin-bottom: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 50px;
}

.circle {
  cursor: pointer;
  background: var(--lama-white);
  border-radius: 50%;
  height: 300px;
  width: 300px;
  position: relative;
}

@media screen and (min-width: 768px) {
  .startContainer {
    flex-direction: row;
  }

  .circle {
    height: 350px;
    width: 350px;
  }

  .lama {
    top: 20%;
  }
}

.triangle {
  position: absolute;
  top: 50%;
  left: 80%;
  transform: translate(-50%, -50%);
  border-top: 60px solid transparent;
  border-right: 60px solid transparent;
  border-bottom: 60px solid transparent;
  border-left: 60px solid var(--lama-background);
}
